{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Books For Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
  </head>
<body>
<!--nav bar -->
<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="/">Books For Us</a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "email" %}">Contact</a>
      </li>
    </ul>
  </div>
      <div class="cart">
      {% with total_items=cart|length %}
        {% if cart|length > 0 %}
          Your cart:
          <a href="{% url "cart:cart_detail" %}">
            {{ total_items }} item{{ total_items|pluralize }},
            ${{ cart.get_total_price }}
          </a>
        {% else %}
          Your cart is empty.
        {% endif %}
      {% endwith %}
    </div>
</nav>
<!--nav bar-->
<!--body starts here -->
<div id="content">
  {% block content %}
  {% endblock %}
</div>
<!--body ends here -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
      <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
      <p>Created by Zach Meuhlich, Joshua Kroupa, Turki Alharbi, Eanga Tanishk Reddy, & Noel Evangelista</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h6 class="text-uppercase font-weight-bold">Contact Us</h6>
      <p>6001 Dodge St, Omaha, NE 68182
      <br/>3900Team3@gmail.com
      <br/>+ 402-452-8900
    </div>
  </div>
  <div class="footer-copyright text-center">© 2019 Copyright: 3900Team3.pythonanywhere.com</div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="static/css/main.js"></script>
</body>
</html>